<div class="content-wrapper">
  <header id="intro" class="hero nature">
    <div class="intro-text">
    </div>
  </header>
  <!-- probably better to inject overlay section and  css using javascript. That is enhancement for later -->
  <section id="intro-overlay" class="hero-overlay">
  </section>

  <!--
  Nothing fancy here. Just a section to hold some content, so we can scroll.
  Too lazy to style it and get it responsive. Instead using zurb foundation grid 'row' and 'column' classes
-->
<section class="homecontent">
  <div class="row">
    <div class="column">
      <!--
      <h1>About us</h1>
    -->
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut ligula augue. Vestibulum ut dolor at neque venenatis consectetur id vel orci. Donec rutrum porttitor odio, vitae sollicitudin nisl volutpat nec. Proin faucibus, tellus et venenatis condimentum, odio nisl elementum enim, vitae congue lorem lacus ut diam. Duis interdum, urna quis ornare mollis, quam ipsum euismod nisi, sit amet ultricies ligula sapien ac tortor. Quisque pellentesque malesuada mi suscipit venenatis. Sed tempor vehicula laoreet. Pellentesque tellus
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut ligula augue. Vestibulum ut dolor at neque venenatis consectetur id vel orci. Donec rutrum porttitor odio, vitae sollicitudin nisl volutpat nec. Proin faucibus, tellus et venenatis condimentum, odio nisl elementum enim, vitae congue lorem lacus ut diam. Duis interdum, urna quis ornare mollis, quam ipsum euismod nisi, sit amet ultricies ligula sapien ac tortor. Quisque pellentesque malesuada mi suscipit venenatis. Sed tempor vehicula laoreet. Pellentesque tellus
    </p>

  </div>
</div>
</section>

<section id="sporty" class="img-bg-section60 accomodation">
  <div class="section-header">
    <h1>Title</h1>
  </div>
</section>
<section id="sporty-overlay" class="img-bg-section60-overlay">
</section>
<section class="homecontent">
  <div class="row">
    <div class="large-6 columns">
      <div class="card">
        <div class="header">
          <a href="img/cottage_medium.jpg" data-lightbox="accomodation" data-title="Cottage">
            <img src="http://lorempixel.com/500/300/sports/10/">
          </a>
          <!--
          <span class="title"><h4>Cottage</h4></span>
        -->
      </div>

      <div class="ribbon">
        <span class="title"><h4>Card Title</h4></span>
      </div>

      <div>
        <div class="large-12 columns content ">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut ligula augue. Vestibulum ut dolor at neque venenatis consectetur id vel orci. Donec rutrum porttitor odio, vitae sollicitudin nisl volutpat nec. Proin faucibus, tellus et venenatis condimentum, odio nisl elementum enim, vitae congue lorem lacus ut diam. Duis interdum, urna quis ornare mollis, quam ipsum euismod nisi, sit amet ultricies ligula sapien ac tortor. Quisque pellentesque malesuada mi suscipit venenatis. Sed tempor vehicula laoreet. Pellentesque tellus
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="large-6 columns">
    <div class="card">
      <div class="header">
        <a href="img/bedroom_medium.jpg" data-lightbox="accomodation" data-title="Bed room">
          <img src="http://lorempixel.com/500/300/sports/8/">
        </a>
      </div>
      <div class="ribbon">
        <span class="title"><h4>Card Title</h4></span>
      </div>
      <div>
        <div class="large-12 columns content ">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut ligula augue. Vestibulum ut dolor at neque venenatis consectetur id vel orci. Donec rutrum porttitor odio, vitae sollicitudin nisl volutpat nec. Proin faucibus, tellus et venenatis condimentum, odio nisl elementum enim, vitae congue lorem lacus ut diam. Duis interdum, urna quis ornare mollis, quam ipsum euismod nisi, sit amet ultricies ligula sapien ac tortor. Quisque pellentesque malesuada mi suscipit venenatis. Sed tempor vehicula laoreet. Pellentesque tellus
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="card">
      <div class="header">
        <a href="img/living_medium.jpg" data-lightbox="accomodation" data-title="Living room">
          <img src="http://lorempixel.com/500/300/sports/9/">
        </a>
      </div>
      <div class="ribbon">
        <span class="title"><h4>Card Title</h4></span>
      </div>
      <div>
        <div class="large-12 columns content ">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut ligula augue. Vestibulum ut dolor at neque venenatis consectetur id vel orci. Donec rutrum porttitor odio, vitae sollicitudin nisl volutpat nec. Proin faucibus, tellus et venenatis condimentum, odio nisl elementum enim, vitae congue lorem lacus ut diam. Duis interdum, urna quis ornare mollis, quam ipsum euismod nisi, sit amet ultricies ligula sapien ac tortor. Quisque pellentesque malesuada mi suscipit venenatis. Sed tempor vehicula laoreet. Pellentesque tellus
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="large-6 columns">
    <div class="card">
      <div class="header">
        <a href="img/kitchen_medium.jpg" data-lightbox="accomodation" data-title="Kitchen">
          <img src="http://lorempixel.com/500/300/sports/6">
        </a>
      </div>
      <div class="ribbon">
        <span class="title"><h4>Card Title</h4></span>
      </div>
      <div>
        <div class="large-12 columns content ">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut ligula augue. Vestibulum ut dolor at neque venenatis consectetur id vel orci. Donec rutrum porttitor odio, vitae sollicitudin nisl volutpat nec. Proin faucibus, tellus et venenatis condimentum, odio nisl elementum enim, vitae congue lorem lacus ut diam. Duis interdum, urna quis ornare mollis, quam ipsum euismod nisi, sit amet ultricies ligula sapien ac tortor. Quisque pellentesque malesuada mi suscipit venenatis. Sed tempor vehicula laoreet. Pellentesque tellus
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</section>


<!-- footer -->
<footer class="footer">
  <div class=row>
    <!-- Contact Details -->

  </div>

  <div class="row">
    <div class="small-12 columns">
      <p class="slogan"></p>
      <p class="links">
        <!--
        <a href="#">Home</a>
        <a href="#">Terms</a>
        <a href="#">Top</a>
      -->
    </p>
    <p class="copywrite">© 2016 .... Hand crafted with care. Copy, Right &#9786; </p>
  </div>
</div>
</footer>
<!-- end footer -->

</div>
