<div class="content-wrapper">
  <header id="intro" class="hero heroimage">
    <div class="intro-text">
      <p>
        Learn from yesterday,
        <br>live for today,
        <br>hope for tomorrow.
        <br>The important thing is not to stop questioning
      </p>
      <br>- Albert Einstein -
    </div>
  </header>
  <!-- probably better to inject overlay section and  css using javascript. That is enhancement for later -->
  <section id="intro-overlay" class="hero-overlay">
  </section>

  <!--
  Nothing fancy here. Just a section to hold some content, so we can scroll.
  Too lazy to style it and get it responsive. Instead using zurb foundation grid 'row' and 'column' classes
-->
<section class="homecontent">
  <div class="row">
    <div class="column">
      <!--
      <h1>About us</h1>
    -->
    <p>
        Notes, thoughts and how-to(s), sprinkled with snippets of code to taste.
    </p>
    <p>
    </p>

  </div>
</div>
</section>

<section id="sporty" class="img-bg-section60 accomodation">
  <div class="section-header">
    <h1>Categories</h1>
  </div>
</section>
<section id="sporty-overlay" class="img-bg-section60-overlay">
</section>
<section class="homecontent">
  <div class="row">
    <div class="large-6 columns">
      <div class="card">
        <div class="header">
          <a href="/articles/linux" >
            <img src="images/linux.png">
          </a>
        </div>

        <div class="ribbon">
          <span class="title"><h4>Linux</h4></span>
        </div>

        <div>
          <div class="large-12 columns content ">
            <p>
        Ubuntu and such ...
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="large-6 columns">
      <div class="card">
        <div class="header">
          <a href="articles/embedded">
            <img src="/images/embedded.jpg">
          </a>
        </div>
        <div class="ribbon">
          <span class="title"><h4>Embedded</h4></span>
        </div>
        <div>
          <div class="large-12 columns content ">
            <p>
              Embedded and such
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <div class="card">
        <div class="header">
          <a href="/articles/multirotor" >
            <img src="/images/multirotor_small.jpg">
          </a>
        </div>
        <div class="ribbon">
          <span class="title"><h4>Multirotor</h4></span>
        </div>
        <div>
          <div class="large-12 columns content ">
            <p>
              Multi rotor and such
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="large-6 columns">
      <div class="card">
        <div class="header">
          <a href="https://www.youtube.com/channel/UCX6hM9B14UTycfekFDkJfIw" >
            <img src="/images/youtube.png">
          </a>
        </div>
        <div class="ribbon">
          <span class="title"><h4>U2 Be</h4></span>
        </div>
        <div>
          <div class="large-12 columns content ">
            <p>
              youtube channel
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<!-- footer -->
<footer class="footer">
  <div class=row>
    <!-- Contact Details -->

  </div>

  <div class="row">
    <div class="small-12 columns">
      <p class="slogan"></p>
      <p class="links">
        <!--
        <a href="#">Home</a>
        <a href="#">Terms</a>
        <a href="#">Top</a>
      -->
    </p>
    <p class="copywrite">© 2016 .... Hand crafted with care. Copy, Right &#9786; </p>
  </div>
</div>
</footer>
<!-- end footer -->

</div>
