<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <div class="title-bar">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title">root4.me</span>
      </div>
    </div>

    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
      <!-- Menu -->
      <ul class="vertical menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Recent</a></li>
        <li><a href="#">Top picks</a></li>
        <li><a href="#">How-to</a></li>
        <li><a href="#">Locations</a></li>
      </ul>
    </div>
    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right"></div>
    <div class="off-canvas-content" data-off-canvas-content>

      <div class="row expanded columns">
        Full width content
      </div>

    </div>
  </div>
</div>
