<!Doctype html>

<!--
      <div class="row">
      <div class="large-12 columns">
      <input type="search" placeholder="Search .. need to put some padding on top" id="search" >
    </div>
  </div>
-->
<input type="hidden" id="ip" value="{{ ip }}" />

<div class="row">
  <div class="small-12 medium-12 large-4 columns">

    <section class="weather-overview">
      <div class="card">
        <div class="city" id="wo_city">city n/a</div>
        <div class="temperature">
          <span id="wo_temperature" class="temperatureValue">temperature  n/a</span>
        </div>
        <div>
          <span id="wo_weather">weatehr  n/a</span>
        </div>
        <div class="additionaInfo">
          <span id="wo_wind">wind  n/a</span>
        </div>

        <div id="wo_forecast">


        </div>
      </div>
    </section>
    <br />
  </div>

  <div class="small-12 medium-12 large-8 columns">
    <section id="news-article-feed" class="article-feed">
      <!--
      <a href="http://static.latimes.com/oxycontin-part1" target="_blank">
      <div class="card-with-leftborder">
      <h5 class="title">OxyContin's 12-hour problem</h5>
      <span class="postedby">posted at hn by sergeant3 on 05/07/2016</span>
    </div>
  </a>
-->
    </section>
  </div>

</div>
