
<!Doctype html>

<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>



    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
      <!-- Menu -->
      <ul class="vertical menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Recent</a></li>
        <li><a href="#">Top picks</a></li>
        <li><a href="#">How-to</a></li>
        <li><a href="#">Locations</a></li>
      </ul>
    </div>
    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right"></div>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="header">
        <div class="title-bar">
          <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
            <span class="title-bar-title">root4.me</span>
          </div>
        </div>

        <div class="header-content">
          <span class="content">$ sudo whoami</span>
        </div>

      </div>

<!--
      <div class="row">
        <div class="large-12 columns">
          <input type="search" placeholder="Search .. need to put some padding on top" id="search" >
        </div>
      </div>
-->

      <div class="row">
        <div class="small-12 medium-12 large-4 columns">

          <section class="weather-overview">
            <div class="card">
              <div class="city">Chicago, IL</div>
              <div class="temperature">
                <span class="temperatureValue">60.05 °F</span> <span> Clear sky</span>
              </div>
              <div class="additionaInfo">
                <span>No rain or snow.</span> <span>wind 7.2 , 165 deg </span>
              </div>
              (sample data)
              <hr />
              <div class="forecast">Evening forecast</div>
              <div class="temperature">
                <span>60.05 °F</span> <span> Clear sky</span>
              </div>
              <div class="special">
                <span>No rain or snow.</span> <span>wind 7.2 , 165 deg </span>
              </div>
            </div>
          </section>
        </div>

        <div class="small-12 medium-12 large-8 columns">
          <section id="news-article-feed" class="article-feed">

            <!--
            <a href="http://static.latimes.com/oxycontin-part1" target="_blank">
            <div class="card-with-leftborder">
            <h5 class="title">OxyContin's 12-hour problem</h5>
            <span class="postedby">posted at hn by sergeant3 on 05/07/2016</span>
            <p></p>
            <span class="readmore"></span>
          </div>
        </a>
      -->

    </section>
  </div>

</div>

</div>
</div>
</div>
