
<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <div class="title-bar">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title">root4.me</span>
      </div>
    </div>

    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
      <!-- Menu -->
      <ul class="vertical menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Recent</a></li>
        <li><a href="#">Top picks</a></li>
        <li><a href="#">How-to</a></li>
        <li><a href="#">Locations</a></li>
      </ul>
    </div>
    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right"></div>
    <div class="off-canvas-content" data-off-canvas-content>

      <section class="section-height-60 ">
        <div class="section-header">
          <h1>Categories</h1>
          <input type=text id=search  />


        </div>
      </section>

      <div class="row">
        <div class="large-4 columns">
          <div class="card">
            <div class="ribbon">
              
            </div>
            <div>
              <div class="large-12 columns content ">
                <p>
                  Ubuntu and such ...
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="card">
            <div class="ribbon">
              <span class="title"><h4>Linux</h4></span>
            </div>
            <div>
              <div class="large-12 columns content ">
                <p>
                  Ubuntu and such ...
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="large-4 columns">
          <a href="/articles/linux" >
            <div class="card">
              <div class="header">

                <img src="images/linux.png">

              </div>

              <div class="ribbon">
                <span class="title"><h4>Linux</h4></span>
              </div>
              <div>
                <div class="large-12 columns content ">
                  <p>
                    Ubuntu and such ...
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
