.footer {
  background-color: $primary-dark-text-color;
  color: $primary-light-text-color;
  //text-align: center;
  min-height: 10em;

  .links a {
    list-style: none;
    color: $secondary-light-text-color;
    padding: 3rem 0 2rem;
    margin: 0;
  }
  .links a::after {
    content: "•";
    padding: 0 0.4rem 0 0.8rem;
  }
  .links a:last-child::after {
    content: "";
    padding: 0 0.4rem 0 0.8rem;
  }
  .copywrite {
    color: $secondary-light-text-color;
    font-size: 0.875rem;
  }
}
