<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <section class="crud-title">
      2Do
    </section>
  </div>
</div>

<!--
<div class="row">
  <div class="large-2 columns">
    What 2 do
  </div>
  <div class="large-2 columns">
    Comment
  </div>
  <div class="large-3 columns">
    Created
  </div>
  <div class="large-2 columns">

  </div>
</div>
-->

<div id="editableRows">
  {{#each tasks}}
    {{> 2do}}
  {{/each}}
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="card">
      <div id="addRow" class="row">
        <div class="large-10 columns">
          <input type="text" name="title" id="title" data-name="task" placeholder="what 2 do" />
        </div>
        <div class="large-2 columns">
          <input type="button" class="button small-12" id="addButton" value="new 2 do" />
        </div>
      </div>
    </div>
  </div>
</div>
