@charset "UTF-8";
html {
  font-size: 16px; }

body {
  font-family: "Roboto", "PT Sans", sans-serif, Helvetica, Arial;
  background-color: rgba(0, 0, 0, 0.02);
  background-size: cover;
  background-attachment: fixed;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%; }

.main-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.content-wrapper {
  flex: 1; }

.header {
  margin-bottom: 1em;
  height: 40vh;
  background: -moz-linear-gradient(45deg, #99daff 0%, teal 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #99daff), color-stop(100%, teal));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, #99daff 0%, teal 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, #99daff 0%, teal 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #99daff 0%, teal 100%);
  /* ie10+ */
  background: linear-gradient(360deg, #388E3C 0%, #4CAF50 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#99DAFF',GradientType=1 );
  /* ie6-9 */ }
  .header .header-content {
    padding-top: 20vh;
    color: white;
    text-align: center; }
    .header .header-content .content {
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      background: black;
      border-radius: 5px;
      border: 1px solid #5cb3c3; }

.weather-overview {
  width: 100%;
  margin: 0;
  left: 0;
  text-align: center; }
  .weather-overview .forecast {
    font-size: 1.25rem; }
  .weather-overview .city {
    font-size: 1.5625rem; }
  .weather-overview .temperatureValue {
    font-size: 1.25rem; }

.article-feed {
  width: 100%;
  margin: 0;
  left: 0;
  min-height: 100px; }
  .article-feed .title {
    color: #212121; }
  .article-feed .postedby {
    color: #727272;
    margin: 0px 0 10px 0px;
    display: inline-block; }

.card, .card-with-leftborder {
  padding: 10px;
  margin: 0 auto 1px;
  background: white;
  border-radius: 2px;
  display: block;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-top: 1px solid rgba(0, 0, 0, 0.12); }

.card-with-leftborder {
  border-left: 10px solid #4CAF50; }

.card-with-leftborder:hover {
  z-index: 20;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  border-left: 10px solid #388E3C; }

/* post styles _post.scss */
.post {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 4px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white; }
  .post .header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    min-height: 100px;
    background-color: #4CAF50; }
    .post .header img {
      max-height: 200px;
      width: 100%; }
    .post .header .title {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 20px; }
      .post .header .title h3 {
        font-family: "Roboto Condensed", sans-serif, Helvetica;
        color: white;
        margin: 0px;
        padding: 0px; }
      .post .header .title h4 {
        font-family: "Roboto Condensed", sans-serif, Helvetica;
        color: white;
        margin: 0px;
        padding: 0px; }

.post .authorinfo {
  align-items: center;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: colum;
  font-size: 13px;
  font-weight: normal;
  justify-content: flex-start;
  padding: 20px; }
  .post .authorinfo img {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px; }
  .post .authorinfo span {
    color: rgba(0, 0, 0, 0.26);
    display: block;
    padding-left: 5px; }

.post .content {
  align-items: center;
  color: #727272;
  padding: 20px; }
  .post .content pre {
    background-color: rgba(0, 0, 0, 0.12);
    padding: 2px; }

.post .action {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 1.3rem; }
  .post .action a {
    color: #FF9800;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; }

.post-content {
  margin-top: 1em; }

/* end post styles _post.scss */
.footer {
  background-color: #212121;
  color: white; }

.footer p {
  margin-top: 10px; }

.footer p.slogan {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.8rem;
  margin: 0 0 1rem; }

.footer p.copywrite {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.875rem;
  margin: 0; }

.footer .links a {
  list-style: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 3rem 0 2rem;
  margin: 0; }

.footer .links a::after {
  content: "•";
  padding: 0 0.4rem 0 0.8rem; }

.footer .links a:last-child::after {
  content: "";
  padding: 0 0.4rem 0 0.8rem; }

.button {
  background: #4CAF50; }

.button:hover {
  background: #388E3C; }

/*# sourceMappingURL=site.css.map */