<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <section class="crud-title">
      Smart Home
    </section>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="card">
      <div id="addRow" class="row">
        <div class="large-4 columns">
          Garage door
        </div>
        <div class="large-3 columns" id="gd_status" >
          {{ gd_status }}
        </div>
        <div class="large-3 columns" id="gd_updated" >
          {{ gd_updated }}
        </div>
        <div class="large-2 columns">
          <input type="button" class="button small-12" id="gd_refresh" value="Refresh" />
        </div>
      </div>
    </div>
  </div>
</div>
